---
layout: page
title: Notebooks
---

<center>
<img class="img" src="images/me_square.jpg" height="300">
</center>

<br> <br>

<div class="description">Below are a collection of notebooks on random things I've learned and found interesting. Most notebooks primarily focus on the theory and fundamental concepts by doing implementations from scratch on "toy" datasets.</div>

<style>

img {
  border-radius: 50%;
}


div.description {
  /* border-left: 4px solid #515A5A;
  padding-left: 15px; */
  margin-bottom: 100px;
  margin-right: 80px;
  margin-left: 80px;
  text-align: justify;
  word-spacing: 0px;
  color: #616A6B; /* #515A5A; #424949 616A6B*/
  font-size: 20px;
}



h5 { font-family: 'Helvetica Neue', sans-serif; font-size: 46px; font-weight: 300; line-height: 40px; margin: 0 0 16px; text-align: center;}


.category-head {
	/* color: #F90B6D; */
  /* color: #0277BD; */
  color: #0272B6;
  /* color: #1976D2; */
  /* color: #336699; */
	text-align: left; 
	text-decoration-color: #000000; 
	/* text-decoration: underline;
	text-decoration-style: bold; 
  -webkit-text-underline-position: under;
  -ms-text-underline-position: below;
  text-underline-position: under; */ }


.space { margin-top: 50px; }

</style>

<div class="space"></div> 

<div id="archives">
<!-- very convoluted way of doing this b/c liquid is terrible... -->

{% assign list = "" %}
{% for cat in site.categories %}
    {% assign list = list | append: cat[0] | append: ',' %}
{% endfor %}

{% assign new_list = list | split: ',' %}

{% assign result = new_list.last | append: ',' %}
{% assign result = result | append: new_list.first | append: ',' %}
{% assign result = result | append: new_list[2] | append: ',' %}
{% assign result = result | append: new_list[1] %}

{% assign new_result = result | split: ',' %}

<!-- to make sure categories were stored properly
{{ new_result }}

{% for cat in new_result %}
    <li>{{ cat }}</li>
{% endfor %}
-->

<!-- to revert, iterate over site.categories -->
{% for category in new_result %}
  <div class="archive-group">
    <!-- {% capture category_name %}{{ category | first }}{% endcapture %} -->
    {% capture category_name %}{{ category }}{% endcapture %} 
    <div id="#{{ category_name | slugize }}"></div>
    <p></p>
    <h5 class="category-head">{{ category_name }}</h5> <br> 

    <a  name="{{ category_name | slugize }}"></a>
  	{% for post in site.categories[category_name] %}

    <ul class="post-list">
      <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h1>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h1>

        <div class="text-justify" style="font-size: 18px">
          {{ post.description }}
        </div>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
    </ul>

    {% endfor %}
    <br> <hr> <!-- category divider -->

    <div class="space"></div> <!-- adding space inbetween categories -->
  </div>
{% endfor %}
</div>
